<div class="drag-drop">
  <ul class="sortable-list" id="list1">
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 1</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 1</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 2</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 3</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 4</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 5</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <span>Categoría 6</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
  </ul>

  <ul class="sortable-list" id="list2">
    <li class="item" draggable="true">
      <div class="details">
        <img src="../../../assets/img/charcuterie.jpg" />
        <span>Entradas</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <img src="../../../assets/img/charcuterie.jpg" />
        <span>Postres</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <img src="../../../assets/img/charcuterie.jpg" />
        <span>Tacos</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <img src="../../../assets/img/charcuterie.jpg" />
        <span>Bebidas</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <img src="../../../assets/img/charcuterie.jpg" />
        <span>Pastas</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
    <li class="item" draggable="true">
      <div class="details">
        <img src="../../../assets/img/charcuterie.jpg" />
        <span>Alcohol</span>
      </div>
      <i class="uil uil-draggabledots"></i>
    </li>
  </ul>
  <button class="btn-cat">Hace algo</button>
</div>

<script src="../../../assets/js/drag-drop.js"></script>
