.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 160px;
  min-width: 150px;
  width: 100%;
}

.card-header {
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}

.card > img {
  height: 100%;
}

.card-body {
  padding: 10px;
}

.price {
  font-weight: bold;
}

.description {
  margin-top: 5px;
}

.buttons {
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #999;
}
