<div class="nav-container">
  <div>
    <a href="#">Logo</a>
    <nav>
      <a
        routerLink="/"
        routerLinkActive="text-blue-500"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-current="page"
        >Inicio</a
      >
      <a
        routerLink="/menu"
        routerLinkActive="text-blue-500"
        [routerLinkActiveOptions]="{ exact: true }"
        >Menú</a
      >
      <a href="#">Reservaciones</a>
      <a href="#">Contactanos</a>
      <a href="#"></a>
    </nav>
  </div>
</div>
