<div class="w-full bg-white text-sm py-4 dark:bg-gray-800 flex justify-center">
  <div
    class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
    style="width: 60%"
  >
    <a class="flex-none text-xl font-semibold dark:text-white" href="#">Logo</a>
    <nav
      class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5"
    >
      <a
        class="font-medium text-blue-500"
        routerLink="/"
        routerLinkActive="active"
        aria-current="page"
        >Inicio</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
        routerLink="menu"
        routerLinkActive="active"
        >Menu</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
        href="#"
        >Reservaciones</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
        href="#"
        >Contactanos</a
      >
      <!-- Agregar el icono de carrito de compras en formato SVG -->
      <a href="#" class="flex items-center">
        <svg
          class="w-6 h-6 text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M14 14h4l2.18-7.01L18 7l-1.5 5h-1m-.38-8c-.36-1.22-1.52-2-2.84-2h-3.56c-1.32 0-2.49.78-2.84 2H2v2h2.34c.14.64.46 1.22.92 1.71l.1.09 2.01H15V9h2V7h-2.38l-.1.1z"
          ></path>
          <circle cx="7" cy="17" r="2"></circle>
          <circle cx="15" cy="17" r="2"></circle>
        </svg>
      </a>
    </nav>
  </div>
</div>
