.container {
  position: relative;
  width: 100%;
  height: 25%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/Food.jpeg");
  /* Aquí puedes agregar la imagen de fondo usando la propiedad 'background-image' */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 25%;
  margin: auto;
  right: 0;
  bottom: 0;
  /* Puedes ajustar los valores de 'width' y 'height' según tus necesidades */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Aquí puedes personalizar los estilos del contenido, como centrado de texto, color, fuente, etc. */
}

.text-center {
  text-align: center;
}
