.card {
  width: 360px;
  height: 240px;
  display: flex;
  border-radius: 8px;
}

h1 {
  padding-bottom: 1rem;
}

article img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 100%;
}

article .dish__info {
  font-size: 1.6rem;
}

article .dish__info h4 {
  margin: 0;
  font-weight: 600;
}

article .dish__info .price {
  margin: 0;
  font-weight: 600;
}

.dish__info {
  padding: 8px;
}
