<div class="menu-container">
  <div class="menu-container__sub">
    <div class="hero-img-box">
      <picture>
        <source srcset="../../../assets/img/hero.webp" type="image/webp" />
        <source srcset="../../../assets/img/hero-min.png" type="image/png" />

        <img
          src="img/hero.webp"
          alt="Woman eating food, meals in store container, and food bowls on a table"
          class="hero-img"
        />
      </picture>
    </div>

    <div class="menu-container__menu">
      <h3 class="heading-tertiary">Nuestro menú</h3>

      <ul class="menu-list">
        <li class="menu-list__item">
          <a href="#" target="_self">Desayunos </a>
        </li>
        <li class="menu-list__item">
          <a href="#" target="_self">Entradas </a>
        </li>
        <li class="menu-list__item"><a href="#" target="_self"> Bebidas</a></li>
        <li class="menu-list__item"><a href="#" target="_self"> Comidas</a></li>
        <li class="menu-list__item"><a href="#" target="_self"> Postres</a></li>
      </ul>
    </div>
  </div>
</div>
