<div class="form-process">

  <div class="background-img">
    <img src="../img/header.jpg" alt="Mal de Amores">
  </div>

  <div class="form-process__container login">

    <form id="form-login">

      <div class="input-block">
        <label for="email">
          Correo eléctronico:
        </label>
        <input name="email" type="email" id="login-email" value="">
      </div>

      <div class="input-block">
        <label for="password">
          Contraseña:
        </label>
        <input type="password" name="password" id="login-password">
      </div>

      <button name="loginUser" type="submit">Ingresar</button>

    </form>

  </div>

</div>