<div class="form-process">
  <div class="form-process__container login">
    <form id="form-login">
      <div class="input-block">
        <label for="username"> username: </label>
        <input
          name="username"
          [(ngModel)]="username"
          type="email"
          id="login-email"
          required
        />
      </div>

      <div class="input-block">
        <label for="password"> Contraseña: </label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          id="login-password"
          required
        />
      </div>

      <button (click)="onSubmit()" type="submit">Ingresar</button>
    </form>
    ¿No tienes cuenta?
    <a routerLink="/signup" routerLinkActive="text-blue-500">Registrate</a>
  </div>
</div>
