<div class="menu-container">
  <div class="heading">
    <a href="#" routerLink="/menu">
      <ion-icon class="icon-return" name="arrow-back-outline"></ion-icon>
    </a>
    <h3 class="heading-tertiary">Espaguetti</h3>
  </div>
  <div class="menu-container__sub">
    <div class="hero-img-box">
      <picture>
        <source srcset="../../../assets/img/hero.webp" type="image/webp" />
        <source srcset="../../../assets/img/hero-min.png" type="image/png" />

        <img
          src="img/hero.webp"
          alt="Woman eating food, meals in store container, and food bowls on a table"
          class="hero-img"
        />
      </picture>
    </div>

    <div class="menu-container__list">
      <div class="flex-column" *ngFor="let dish of dishesForShot">
        <div class="plate">
          <div class="info">
            <h4>{{ dish.name }}</h4>
            <p>
              {{ dish.description }}
            </p>
          </div>
          <div class="price">{{ dish.price }}</div>
          <ion-icon
            class="icon-plus"
            name="add-outline"
            (click)="onAdd(dish)"
          ></ion-icon>
          <div class="image">
            <img src="../../../assets/img/food.jpg" alt="Plate" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
