<div class="bg-image w-screen flex justify-center">
  <div class="w-3/5">
    <div
      style="background-color: rgba(0, 0, 0, 0.7)"
      class="border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400"
    >
      <div class="flex items-center">
        <img
          src="../../../assets/Food.jpeg"
          class="w-20 h-20 object-cover mr-4"
          alt="Imagen de ejemplo"
        />
        <div class="flex-grow">
          <p class="text-lg text-white font-bold">Conocenos</p>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            esse illum doloribus ab voluptatibus quo, omnis minus quod maxime
            aliquam voluptate tenetur architecto consectetur quae earum
            perferendis non temporibus at!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
