<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        Deleita tus papilas gustativas con nuestras exquisitas creaciones
        culinarias.
      </h1>
      <p class="hero-description">
        Descubre una experiencia gastronómica inolvidable donde cada bocado es
        un deleite para los sentidos y cada plato es una obra maestra de sabor y
        creatividad.
      </p>
      <a href="#cta" class="btn btn--full margin-right-sm"
        >Empieza a comer delicioso</a
      >
      <a href="#how" class="btn btn--outline">Aprende más &darr;</a>
    </div>
    <div class="hero-img-box">
      <picture>
        <source srcset="../../../assets/img/hero.webp" type="image/webp" />
        <source srcset="../../../assets/img/hero-min.png" type="image/png" />

        <img
          src="img/hero.webp"
          alt="Woman eating food, meals in store container, and food bowls on a table"
          class="hero-img"
        />
      </picture>
    </div>
  </div>
</section>
