<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!--Footer-->
<app-component-footer></app-component-footer>

<!--Login and Signup-->
<app-signupclient></app-signupclient>
<app-loginclient></app-loginclient>

<!--Menu-->
<app-menuclient></app-menuclient>
<app-menuclientlist></app-menuclientlist>

<!--Reservation-->
<app-reservationclient></app-reservationclient>
<app-reservationclient-create></app-reservationclient-create>
<app-reservationclient-confirm></app-reservationclient-confirm>
<app-reservationclient-reserve></app-reservationclient-reserve>
<app-drag-drop-menu></app-drag-drop-menu>
