<div class="nav-container">
  <!--*Logo-->
  <a
    routerLink="/"
    routerLinkActive="text-blue-500"
    [routerLinkActiveOptions]="{ exact: true }"
    aria-current="page"
    class="logo-link"
    href="#"
    ><img src="../../../assets/icon/restaurant.png" alt="Logo MesaIo" />
    <p>MesaIo</p></a
  >

  <!--*Navigation-->
  <nav>
    <a
      routerLink="/"
      routerLinkActive="text-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      ><img src="../../../assets/icon/home.png" alt="Home Icon"
    /></a>
    <a
      routerLink="/menu"
      routerLinkActive="text-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../assets/icon/menu.png" alt="Menu Icon"
    /></a>
    <a
      routerLink="/login"
      routerLinkActive="text-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../assets/icon/login.png" alt="Login Icon"
    /></a>
    <a href="#"
      ><img src="../../../assets/icon/reservation.png" alt="Reservation Icon"
    /></a>
    <a href="#"><img src="../../../assets/icon/cart.png" alt="Cart Icon" /></a>
  </nav>
</div>
