<nav *ngIf="userType === 'user'">
  <div class="logo">
    <a href=""> <i class="bx bx-fork"></i> Mesa.io </a>
  </div>
  <div class="options">
    <ul>
      <li *ngFor="let link of links">
        <a
          routerLink="{{ link.url }}"
          routerLinkActive="text-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="{{ link.icon }}"></i>
          {{ link.label }}
        </a>
      </li>
    </ul>
    <button (click)="onLogOut()">Logout</button>
  </div>
</nav>
