<div class="container__reservation">
  <div class="container__reservation-banner">
    <div class="image">
      <img
        class="restaurant"
        src="../../../assets/img/table-5356682_1920.jpg"
        alt="Restaurant"
      />
    </div>
    <div class="overlay">
      <h2 class="heading-secondary-rs">Reservaciones</h2>
    </div>
  </div>
  <div class="container__reservation-info">
    <h3 class="heading-tertiary-rs">Crear reservación</h3>

    <div id="reservations">
      <p>No tienes reservaciones programadas.</p>
    </div>

    <a href="#" class="btn btn--full">Crear reservación</a>
  </div>
</div>
