<div>
  <div class="wrapper">
    <a href="http://localhost:5500">
      <ion-icon class="return-icon" name="arrow-back-outline"></ion-icon>
    </a>
    <div class="menu">
      <div class="card-option">
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
        <div class="option">
          <div class="description">
            <h3 class="title">Pasta</h3>
            <p class="category">Platillo</p>
          </div>
          <div class="options">
            <ion-icon class="options-icon" name="options-outline"></ion-icon>
          </div>
        </div>
      </div>

      <form>
        <label for="category">
          <input name="category" type="text" placeholder="Categoría o producto"
        /></label>

        <label for="name">
          <input type="text" placeholder="Nombre" />
        </label>
        <label for="price">
          <input name="price" type="text" placeholder="Precio" />
        </label>
        <label for="about">
          <input name="about" type="text" placeholder="description" />
        </label>
        <label for="sel-img">
          <input type="file" id="img" name="sel-img" accept="image/*" />
        </label>
        <p>Productos requeridos:</p>
        <div class="requirements">
          <ul>
            <li>Ingrediente 1</li>
            <li>Ingrediente 2</li>
            <li>Ingrediente 3</li>
            <li>Ingrediente 4</li>
            <li>Ingrediente 5</li>
            <li>Ingrediente 6</li>
            <li>Ingrediente 7</li>
            <li>Ingrediente 8</li>
            <li>Ingrediente 9</li>
            <li>Ingrediente 10</li>
          </ul>
        </div>
      </form>

      <div class="actions">
        <button id="add-article" class="button add">Agregar artículo</button>
        <button id="add-article" class="button update">
          Actualizar artículo
        </button>
        <button id="add-article" class="button delete">
          Eliminar artículo
        </button>
      </div>
    </div>
  </div>

  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</div>
